/* Global Styling
    */
html {
  /* To add padding for sticky navbar when jumping to content */
  scroll-padding-top: 50px;
}

body {
    /**/
}

/* NAVBAR Styling
    Styling related to the navigation bar
    */
.topnav {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: Black;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar Link Formatting */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Hover Formatting  */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Active Formatting */
.topnav a.active {
  background-color: Yellow;
  color: Black;
  font-weight: bold;
}

/* Active Hover Formatting */
.topnav a.active:hover {
  background-color: #ffe600;
  color: Black;
  font-weight: bold;
}

/* Hide icon when not necessary */
.topnav .icon {
  display: none;
}

/* Navbar media queries */
/* Hide all buttons except Home when width < 1050px */
@media screen and (max-width: 1050px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* Responsive Class*/
@media screen and (max-width: 1050px) {
  .topnav.responsive {
    position: sticky;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* CONTENT STYLING
    Styling content on the page
    */
h1 {
  font-family: "Rubik Wet Paint", system-ui;
  margin-left: 20px;
}

h2 {
  font-family: "Rubik", sans-serif;
}

h3 {
  font-family: "Rubik", sans-serif;
}

p {
  font-family: "Itim", serif;
}

/* Font Flags */
.itim-regular {
  font-family: "Itim", serif;
  font-weight: 400;
  font-style: normal;
}

.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.rubik-wet-paint-regular {
  font-family: "Rubik Wet Paint", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* List formatting
 */
 ul {

 }

 /* Style the button that is used to open and close the collapsible content */
 .collapsible {
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the expanded collapsible-content*/
.content-expand {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}